body {
    justify-content: center;
}

#counter {
    font-style:italic;
    font-size: 1.5em;
    color:lightseagreen;
}
.buttons {
    border-radius: 20px;
    padding: 20px 25px;
    color:white;
    background-color:rgba(0, 153, 255, 0.836);
}
.buttons:hover { 
    background-color:rgba(0, 153, 255, 0.342);
    font-size:1.25e;
    cursor:pointer;
} 